{:deps {http-kit/http-kit {:mvn/version "2.7.0"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        com.datomic/local {:mvn/version "1.0.291"}
        com.datomic/datomic-free {:mvn/version "0.9.5697"}}
 :paths ["src"]}
